{% extends "layouts/default.html" %}
 
{% block title %}{{ title }}{% endblock %}
 
{% block content %}
    {% include "includes/logged_in_header.html" %}
    <h1>{{ title }}</h1>
    <p>
        <a href="/bbs/message_create/">新規投稿</a>
    </p>
    <ul>
        {% for message in messages %}
            <a href="/bbs/message_detail/{{ message.id }}">
            <li>{{ message.name }}: {{ message.body }} {{ message.created_at }}</li>
            </a>
        {% empty %}
            <li>メッセージはありません。</li>
        {% endfor %}
    </ul>
{% endblock %}